telegram:
    token: ''
    proxy: ''
    recipients:
        - 
	poll frequency:
	pin: ''
pinger:
    ips:
        - ''
    handles:
        - ''
    frequency: 
    report failure delay:
    initial delay:
debug:
    debug level: DEBUG
    sentry dsn: ''
    sentry appname: 'powerchecker'
    sentry environment: ''